body {
  font-family: "Oswald", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
  height: 60rem;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.85;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url("https://source.unsplash.com/XT5OInaElMw/1600x900") black
      no-repeat center center scroll;
  }

  header video {
    display: none;
  }
}

#mainNav {
  box-shadow: 0 0.5rem 1rem rgba(148, 148, 148, 0.15);
  background-color: #fff;
  color: #000;
  transition: background-color 0.2s ease;
}

#mainNav .navbar-brand {
  font-weight: 700;
  color: #212529;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 0.9rem;
  padding: 0.75rem 0;
}

#mainNav .navbar-nav .nav-item .nav-link:hover,
#mainNav .navbar-nav .nav-item .nav-link:active {
  color: #860303;
}

#mainNav .navbar-nav .nav-item .nav-link.active {
  color: #860303 !important;
}

@media (min-width: 992px) {
  #mainNav {
    box-shadow: none;
    background-color: transparent;
  }

  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }

  #mainNav .navbar-brand:hover {
    color: #fff;
  }

  #mainNav .navbar-nav .nav-item .nav-link {
    color: rgba(255, 255, 255, 0.7);
    padding: 0 1rem;
  }

  #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #fff;
  }

  #mainNav .navbar-nav .nav-item:last-child .nav-link {
    padding-right: 0;
  }

  #mainNav.navbar-scrolled {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #fff;
  }

  #mainNav.navbar-scrolled .navbar-brand {
    color: #212529;
  }

  #mainNav.navbar-scrolled .navbar-brand:hover {
    color: #860303;
  }

  #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link {
    color: #212529;
  }

  #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link:hover {
    color: #cf0000;
  }
}

#moomoo {
  padding-top: 60px;
  background: linear-gradient(
      rgba(0, 0, 0, 0.5) 100%,
      rgba(128, 1, 1, 0.5) 100%
    ),
    url("footer-bg.jpg");
  background-size: cover;
  height: 30rem;
}

.icon-about {
  color: #000;
  font-size: 2rem;
}

.icon-about:hover {
  color: #ce0404;
  font-size: 2rem;
}

.icon-footer {
  color: antiquewhite;
  font-size: 5rem;
}

.icon-footer:hover {
  color: #860303;
  font-size: 5rem;
}

.title-red {
  color: #eb0808;
}

.title-white {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.btn-custom {
  border-color: white;
  border-style: solid;
  border-width: 3px;
  background: none;
  padding: 1rem;
  color: white;
}

.btn-custom:hover {
  border-color: black;
  border-style: solid;
  border-width: 3px;
  background: black;
  color: white;
  padding: 1rem;
}

.btn-down {
  display: block;
  font-size: 5rem;
  color: white;
  margin: 4rem auto 0 auto;
}

.btn-down:hover {
  display: block;
  font-size: 5rem;
  color: red;
  margin: 4rem auto 0 auto;
}
